language: python
python:
  - "3.6"
# command to install dependencies
install: 
  - "pip install -r requirements.txt"
  - "pip install coverage"
  - "pip install coveralls"
# command to run tests
script: 
  - "python -m unittest tests/test_dojo.py"
  - "coverage run -m unittest discover -s tests/"
after_success: coveralls
